target
build/*
!build/.donotdelete
dist/*
node_modules/*
*.iml
logs
out
*.log
.settings
*.class
.git
.idea
.settings

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
